 <span class="pt-5 d-flex"><h5 >FRIENDS LIST</h5>
<h5 class="pl-2">(<%=friendships.count%>)</h5>
</span>
    <div class="pad2 request scroll"> 
        <%friendships.each do |user|%>
            <div class="">
                <span><%= image_tag user.image ,class:"image1 mx-2" rescue image_tag 'default.jpg', class: "mx-2 image1" %></span>
                <span><%= get_user(user.user_id).username %></span>
            </div>
            <hr>
        <%end%>
    </div>