.bg-color{
    background-color: aqua;
}
.facebook_title{
    /* padding-top: 20px; */
    color: #1877f2;
    font-size: 55px;
    font-weight: bold;
    padding-left: 120px;
}
.container3{
    height: 100%;
    width: 100%
}
.box-left{
    height: 264px;
    width: 500px;
    padding: 20px 0;
    /* margin: 0 296px; */
}
.row4{
    background-color: rgb(95, 93, 93) !important;
    margin:0;
    padding:0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    position:fixed;
    top: 0%;
}
.body{
    padding-left: 120px;
}
.btn-color{
    background-color:#1877f2 ;
    width: 330px;
    border: none;
    padding: 12px 0;
    border-radius: 6px;
    margin: 12px 0;
    color: white;
    font-weight: bolder;
}
.move-right{
    padding-left: 40px;
}
.box-size{
    font-size: 17px;
    padding: 6px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;

}
.contain{
    height: 500px;
    width: 396px;
   -webkit-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    padding: 0 20px;
}
.box-size:focus{
    border: 1.8px solid #1877f2;
}
.top{
    padding-top: 20px;
}
.right{
    padding-left: 500px;
}
.box-size1{
    font-size: 17px;
    padding: 12px 16px;
    width: 330px;
    border-radius: 6px;
    /* border: 1px solid #dddfe2; */

}
.move{
    padding-top: 100px;
    padding-left: 350px;
}
.move1{
    padding-bottom: 20px;
}
.border{
    border: 2px solid ;
    /* height: 600px; */
    width: 396px;
   -webkit-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    padding: 0 20px;
}
.row1{
    background-color:whitesmoke !important;
    margin:0;
    padding:0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    position:fixed;
    top: 0%;
}
.border1{
    border: 2px solid black;
    height: 425px;
    width: 396px;
   -webkit-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    padding: 0 20px;
}
.border2{
    border: 2px solid black;
    height: 500px;
    width: 396px;
   -webkit-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.75);
    padding: 0 20px;
}
div#error_explanation h2 {
    display: none;
}
.btn-color1{
    background-color:#1877f2 ;
    width: 330px;
    border: none;
    padding: 12px 0;
    border-radius: 6px;
    margin: 12px 0;
    color: white;
    font-weight: bolder;
    padding-top: 10px;
}

.sign-up h4{
    display:block ;
    width: 100%;
}
.row2{
    background-color: whitesmoke !important;
    margin:0;
    padding:0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    position:fixed;
    top: 0%;
}
.padding1{
    padding-right: 140px;
}
.padding2{
    padding-left: 80px;
}
.container1{
    height: auto;
    width: auto;
}
.padding3{
    padding-top: 10px;
}
.padding5{
    padding-top: 15px;
}
.padding4{
    padding: 20px;
    /* border: 1px solid; */
    background: white;
    border-radius: 10px;
    box-shadow: rgb(149, 157, 165,0.2) opx 8px 24px;
    margin-bottom: 20px;
}
.grow{
    flex-grow: 1;
}
.box-bottom{
    padding-top: 150px;
}
.post{
    padding-top: 20px;
    margin-bottom: 15px;
 }
.titlebold{
    font-weight: bolder;
}
.post-color{
    background-color: #e3f2fd;
}

.post-loop{
    grid-template-columns: 1fr 1fr;    
}
.border3{
    border-radius: 10px;
    background-color: white;
}
.border5{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 20px;
}
.colorcomment{
    background-color: whitesmoke ;
}
.pad1{
    padding-left: 20px;
}
.pad2{
    padding-top: 30px;
}
.sidenav{
    position: sticky;
    top: 150px;
}
.navfix{
    position: fixed;
    width: 100%;
    z-index: 99;
}
.top{
    padding-top: 100px;
}
.top1{
    padding-top: 30px;
    justify-content: space-around;
    background-color: whitesmoke;
}
.display{
    display: flex;
}
.removeborder{
    border: none;
    flex: 1;
}
.removeborder:focus-visible {
 outline: none;
}
.center{
    text-align: center;
    display: flex;
}
.request{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.nav-link i {
    width: 15px;
}
.nav-item {
    display: flex;
    align-items: center;
}
.post-border{
    border-radius: 10px;
    background-color: white;
    padding: 0 20px;
}
.right{
    padding-left: 10px;
    font-weight: bolder;
}
.like{
    margin-bottom: 15px;
}
.select-wrapper{
    display: block;
    position: relative;
    width: 33px;
    height: 26px;
}
#image_src {
    position: absolute;
    left: 0;
    width: 26px;
    height: 26px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 5-7 */
  }
  .post-loop img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }